
.normal{
  border: 2px solid transparent;
  position: relative;
  min-height: 200px;
}

.normal.hover{
  border: 2px solid blue;
}

.editorwrap {
  min-height: 200px;
  border: 0;
  outline: 0;
}

.editorwrap:after{
  color: black;
}
